.DS_Store
*pyc
.vscode
__pycache__
*.egg-info

checkpoints
results
backup
LOG.ipynb_checkpoints/
*.ipynb_checkpoints
.DS_Store
__pycache__/
baseline_evaluation.log
baseline_evaluation_lpips.log
baseline_results/
lora_checkpoints/
lora_checkpoints_full_10k/

kd_debug/
kd_debug_2/
kd_debug_3/
kd_debug_run_01/
kd_eval_debug_1/
kd_full_run_01/
kd_full_run_02/
kd_full_run_03/
kd_run/
knowledge_distillation_attempts/

lora_evaluation_results/
lora_evaluation_results_10k/
lora_evaluation_results_visualized/
lora_rerun_final/
lora_sanity_check/
lora_sanity_check_2/
lora_sanity_check_3/
lora_sanity_check_4/
lora_sanity_check_len3/
lora_stable_run_full/

train_lora_definitive/
train_lora_domain_adapt/
train_lora_hybrid/

visual_outputs/

confidence_check_eval/
confidence_check_run/
deprecated_files/
logs/
lora_best.tgz
lora_script_3_training.log

outputs/
outputs_lora/
outputs_lora_2/
outputs_lora_resume/
outputs_new/
untitled.py

evaluate_lora_final/
final_results/
kd_eval_01/
