.DS_Store
*pyc
.vscode
__pycache__
*.egg-info

checkpoints
results
backup
LOG.ipynb_checkpoints/
*.ipynb_checkpoints
.DS_Store
__pycache__/
baseline_evaluation.log
baseline_evaluation_lpips.log
baseline_results/
lora_checkpoints/
lora_checkpoints_full_10k/

